
$mobile_size : 370px;
$tablet_size : 669px;
$laptop_size : 1020px;

$ice-color : #00465b;
$ace-blue-color : #dde5eb;

html, html
{

  @font-face {
    font-family: "Bernina Sans";
    src: url("../fonts/BerninaSans-Web-CondensedBold.woff2") format("woff2");
  }
}

header
{
  width: 100%;
  min-height: 500px;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
}
p{
  margin: 0;
}
header img
{
  width: 100%;
  height: auto;

}
.reduction
{
  position: absolute;
  width: 230px;
  background-color: darkred;
  color: white;
  transform: rotate(40deg);
  top: 70px;
  right: 30px;
  text-align: center;
  border-radius: 5px;
  display: inline;
  & > p,h3
  {
    display: inline;
  }
}


.header_reduction-inline
{
  font-size: 15px;
}

.bandeau
{
  position: absolute;
  top: 450px;
  background-color: darkgray;
  color: white;
  opacity: 0.5;
  width: 100%;
  padding-left: 10px ;

}


.header_bandeau-inline
{
  font-size: 10px;
}
.inner
{
  padding: 0 2%;
  color: $ice-color;
  background-color: $ace-blue-color;
}

.rendez-vous
{
  margin: 5px 5px 0 auto;
  background-color: white;
  border-radius: 5px;
  display: flex;
  float: right;
  border: 1px solid grey;

}
.rendez-vous a
{
  color: $ice-color;
}

.main_content
{
  text-align: center;
}
.main_title
{
  text-align: center;
}
.ice-experience
{
  width: 100%;
  letter-spacing: 5px;
  margin-top: 20px;
}


.container_flex-cat {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 5%;

}

.container_flex-cat > div {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  width: 100%;

}
.container_flex-cat > div img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;

}

.container_flex-cat_ace
{
  display: none;
}



@media screen and (min-width: $tablet_size) {
  header
  {
    height: 100%;
    margin: auto;
  }
  .container_flex-cat_gym
  {
    order: -2;
  }

  .container_flex-cat > div {
    width: 50%;

  }

  #logo_texte
  {
    width: 800%;
    height: auto;
  }

  .container_flex-cat_ace
  {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 55%;
    background: radial-gradient(#708dad, #dde5eb);
  }
}



@media screen and (min-width: $laptop_size) {
  .inner
  {
    padding: 0 20%;
  }
  .bandeau p
  {
    display: inline;
  }
  .ice-experience
  {
    text-align: right;
    margin-bottom: 20px;
  }
  .container_flex-cat > div {
    width: 33%;
    margin: auto;

  }

  .container_flex-cat_ace
  {
    display: none;
  }


}